# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Package Managers
# ==========================
.pnpm-store/

# ==========================
# Turborepo
# ==========================
.turbo/

# ==========================
# Build Outputs
# ==========================
.next/
out/
dist/
build/
.expo/
coverage/

# ==========================
# TypeScript
# ==========================
*.tsbuildinfo
next-env.d.ts

# ==========================
# Environment
# ==========================
.env
.env.*
.env.local
!.env.example

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Cache
# ==========================
.cache/

# ==========================
# Vercel
# ==========================
.vercel/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/